* {
	font-family: sans-serif;
}

body {
	background-color: rgb(248, 248, 228);
}

.main-container {
	align-items: center;
	display: flex;
	justify-content: center;
}

.board-container {
	border-collapse: collapse;

	& .board-row {
		border-collapse: collapse;
	}
}

.location {
	align-items: center;
	border: 1px solid black;
	display: inline-flex;
	font-size: 30px;
	height: 50px;
	justify-content: center;
	width: 50px;

	background-color: white;

	&:focus {
		outline: 3px solid blue;
		position: relative;
		z-index: 10;
	}

	&.static {
		font-weight: bold;

		&:focus {
			outline: none;
		}
	}
}

.control-panel {
	align-items: center;
	display: flex;
	justify-content: space-around;
	margin-top: 16px;
}

.button {
	align-items: center;
	background-color: rgb(60, 60, 60);
	border-radius: 6px;
	border: none;
	color: white;
	cursor: pointer;
	display: flex;
	font-weight: bold;
	justify-content: center;
	letter-spacing: 0.75px;
	padding: 8px 16px;

	&.disabled {
		background-color: rgb(226, 226, 226);
		color: rgb(180, 180, 180);
		pointer-events: none;
	}

	@media(hover) {
		&:hover {
			background-color: rgb(30, 30, 30);
		}
	}

	&:active {
		background-color: black;
	}


}

$firstAndThirdRows: 0, 1, 2, 6, 7, 8;

@each $rowId in $firstAndThirdRows {
	.row-#{$rowId} {
		.location:not(.column-3):not(.column-4):not(.column-5) {
			background: lightgray;
		}
	}
}

$middleRow: 3, 4, 5;

@each $rowId in $middleRow {
	.row-#{$rowId} {
		.location.column-3,
		.location.column-4,
		.location.column-5 {
			background: lightgray;
		}
	}
}